[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

collectfast = "*"
django = ">=1.11.11,<1.12"
pillow = "*"
awsebcli = "*"
dj-database-url = "*"
dj-static = "*"
"django-bootstrap4" = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-maintenancemode = "*"
django-ses = "*"
django-storages = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
rollbar = "*"


[dev-packages]

behave-django = "*"
bpython = "*"
coverage = "*"
django-extensions = "*"
django-gulp = "*"
django-rainbowtests = "*"
factory-boy = "*"
faker = "*"
"flake8" = "*"
"flake8-bandit" = "*"
"flake8-builtins" = "*"
"flake8-debugger" = "*"
"flake8-deprecated" = "*"
"flake8-logging-format" = "*"
"flake8-print" = "*"
"flake8-quotes" = "*"
"flake8-tuple" = "*"
nplusone = "*"
splinter = { extras = ["django"] }
unittest-xml-reporting = "*"
django = ">=1.11.11,<1.12"


[requires]

python_version = "3.6"


[pipenv]

keep_outdated = true
