packages:
  yum:
    git: []
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings.aws
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application

container_commands:
  00writeenv:
    command: sudo cat /opt/elasticbeanstalk/deployment/env | while read line; do echo "export '$line'"; done | sudo tee /var/app/env
  01migrate:
    command: 'env $(cat /opt/elasticbeanstalk/deployment/env | xargs) ./manage.py migrate --no-input'
    leader_only: true
  02wsgipass:
    command: 'echo "WSGIPassAuthorization On" > ../wsgi.conf'
