/*  Colors
	------------------------------------ */
$primary-color-1: '#fff';
$primary-color-2: '#333';
$primary-color-3: '#ddd';

$secondary-color-1: 'red';
$secondary-color-2: 'green';
$secondary-color-3: 'blue';

$accent-color-1: 'orange';

/*  Fonts
	------------------------------------ */

$primary-font: 'Roboto', serif;
$secondary-font: 'Open Sans', serif;
