// CONFIGS
//
// Here we can turn on/off bootstrap or other frameworks.
//
//
// $use-bootstrap - Whether turning this on or off, we would still use the `variables` from BS that because we will use that as a theme and foundation to the rest of the site. In the future if we don't want to use BS anymore, we can definitely replace it with something else.
//
// $icon-font-path - Overwrites BS default icon path. Default for this project is the root since everything is served inside the `static` folder
//
// Styleguide: 1.1
// ------------------------------ //
$use-bootstrap: true !default;
$bootstrap-sass-asset-helper: false !default;

@if $use-bootstrap {
	$icon-font-path: ''; //Set to root because the `static` folder is served as root
}