{% extends "account/base.html" %}
{% load i18n bootstrap4 %}

{% block account_title %}
  {% trans "Password Reset" %}
{% endblock account_title %}

{% block account_content %}
  <form method="POST" action="">
    {% bootstrap_form form %}
    {% csrf_token %}
    {% buttons %}
      {% bootstrap_button _("Reset Password") button_type="submit" button_class="btn-primary btn-block" %}
    {% endbuttons %}
  </form>

  <p class="mt-3 text-center">
    <a href="{% url 'account:login' %}" class="btn btn-link">
      {% trans "Back to Sign In" %}
    </a>
  </p>
{% endblock %}
