$page-paddings: .75rem;
$page-lg-paddings: 1.5rem;

.page-content,
.page-footer {
    @extend .container;

    padding: $page-paddings;

    @include media-breakpoint-up(lg) {
        padding: $page-lg-paddings;
    }
}

.page-content {
    color: gray(800);
}

.page-footer {
    text-align: center;
}
